.content_All_doctors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    padding: 15px;
}
.doctor_count_number {
    color: rgb(25, 105, 188);
}
.AddDoc_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AddDoc_container p {
    font-size: 18px;
}
.AddDoc_container button {
    width: max-content;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(220, 237, 250);
    color: rgb(25, 105, 188);
    transition: 0.3s;
}
.AddDoc_container button:hover {
    background-color: rgb(197, 214, 226);
}
.doctor_count_container {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
